:root {
    --light-gray: #D3D3D3;
    --white-gray: #F2F3F5;
    --gameboard-line-color: #F2F3F5;
    --arsenic-gray: #3B444B;
    --green-highlight: #b6ff00;
    --font-light: 300;
    --font-regular: 400;
    --font-semibold: 700;
    --font-bold: 900;
    --font-text: 'Biryani', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
    background-color: var(--light-gray);
}

.player-card h1 {
    color: var(--white-gray);
}

#game-screen {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--arsenic-gray);
    color: var(--white-gray);
    font-family: var(--font-text);
}

button,
input {
    font-family: var(--font-text);
    font-weight: var(--font-semibold);
}

h1{
    text-align: center;
    font-weight: var(--font-bold);
}

#game-results {
    display: none;
    text-align: center;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 10px;
    z-index: 1;
    top: 0;
}

.player-won {
    background-color: var(--green-highlight);
    box-shadow: 0 0 10px var(--green-highlight);
    color: var(--arsenic-gray);
}

.opponent-won {
    background-color: red;
    box-shadow: 0 0 10px red;
    color: var(--white-gray);
}

.player-opponent-tie {
    background-color: var(--light-gray);
    box-shadow: 0 0 10px var(--light-gray);
    color: var(--arsenic-gray);
}

#scoreboard {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-auto-rows: auto;
    text-align: center;
    justify-content: center;
    gap: 10rem;
    font-weight: var(--font-regular);
}

.gamer-score {
    border: 2px solid var(--white-gray);
    width: min(300px, 50%);
    border-radius: 5px;
    position: relative;
}

.gamer-1-score {
    justify-self: end;
}

.gamer-2-score {
    justify-self: start;
}

.gamer-score-number {
    font-weight: var(--font-semibold);
}

.gamer-score img {
    width: min(25%, 100px);
    position: absolute;
}

.gamer-1-score img {
    left: 0;
}

.gamer-2-score img {
    right: 0;
}

/* gameboard styling for lines */

td[data-cell="1"],
td[data-cell="4"] {
    border-right: 2px solid var(--gameboard-line-color);
    border-bottom: 2px solid var(--gameboard-line-color);
}

td[data-cell="2"],
td[data-cell="5"] {
    border-bottom: 2px solid var(--gameboard-line-color);
}

td[data-cell="3"],
td[data-cell="6"] {
    border-left: 2px solid var(--gameboard-line-color);
    border-bottom: 2px solid var(--gameboard-line-color);
}

td[data-cell="7"] {
    border-right: 2px solid var(--gameboard-line-color);
}

td[data-cell="9"] {
    border-left: 2px solid var(--gameboard-line-color);
}

#gameboard {
    border-collapse: collapse;
    max-width: 800px;
    width: 800px;
    table-layout: fixed;
    justify-self: center;
}

#gameboard:disabled {
    pointer-events: none !important;
}

#gameboard td {
    padding: 50px;
    margin: 0;
    text-align: center;
    font-size: 32px;
    height: 100px;
    
}

#gameboard td:hover{
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
}

#restart-btn,
#continueButton {
    border: none;
    padding: 15px 50px;
    border-radius: 5px;
}

#restart-btn {
    background-color: var(--green-highlight);
    color: var(--arsenic-gray);
}

#restart-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 8px var(--green-highlight);
}

#continueButton {
    background-color: var(--arsenic-gray);
    color: var(--white-gray);
}

#continueButton:hover {
    cursor: pointer;
    box-shadow: 0 0 8px var(--arsenic-gray)
}

.game-start-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    background-color: var(--light-gray);
    margin: 0;
    padding: 20px 0;
    width: 100%;
    height: max-content;
}

.player-card-section {
    display: flex;
    gap: 100px;
    text-align: center;
    padding: 50px;
    justify-content: center;
}

.player-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--arsenic-gray);
    width: 20%;
    padding: 50px;
    border-radius: .5rem;
    box-shadow: 0 0 10px var(--arsenic-gray);
}


.player-card:focus-within {
    transform: scale(1.07);
}

.player-card img {
    width: 80%;
    margin-bottom: 20px;
}

input {
    width: 10rem;
    border: 1px solid var(--green-highlight);
    background-color: var(--arsenic-gray);
    color: var(--white-gray);
    padding: 5px;
    
}

input:focus {
    box-shadow: 0 0 10px var(--green-highlight);
    outline: 1px solid var(--green-highlight);
}

input::placeholder {
    color: var(--light-gray);
}

.name-error-msg {
    display: none;
    margin-bottom: 0;
    background-color: rgb(248, 201, 201);
    border: 1px solid red;
    font-size: 12px;
    width: 10rem;
    padding: 5px;
}

.name-error {
    border: 2px solid red;
}

.name-error:focus {
    box-shadow: 0 0 10px red;
    outline: 1px solid red;
}

@media (max-width: 600px){

    .player-card-section {
        flex-direction: column;
        align-items: center;
    }

    .player-card  {
        width: 50%;
    }

    #game-screen {
        grid-template-rows: unset;
    }

    #scoreboard {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .gamer-score {
        width: 80%;
    }

    .gamer-1-score {
        justify-self: center;
    }

    .gamer-2-score {
        justify-self: center;
    }

    #gameboard {
        width: 80%;
    }

    #gameboard td {
        height: 40px;
    }
}