:root {
    --light-gray: #D3D3D3;
    --white-gray: #F2F3F5;
    --gameboard-line-color: #F2F3F5;
    --arsenic-gray: #3B444B;
    --green-highlight: #b6ff00;
    --font-light: 300;
    --font-regular: 400;
    --font-semibold: 700;
    --font-bold: 900;
    --font-text: 'Biryani', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--arsenic-gray);
    color: var(--white-gray);
    font-family: var(--font-text);
}

button {
    font-family: var(--font-text);
    font-weight: var(--font-semibold);
}

h1 {
    text-align: center;
    font-weight: var(--font-bold);
}

#scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    gap: 10rem;
    font-weight: var(--font-regular);
}

.gamer-score {
    border: 2px solid var(--white-gray);
    width: min(300px, 50%);
    border-radius: 5px;
}

.gamer-1-score {
    justify-self: end;
}

.gamer-2-score {
    justify-self: start;
}

.gamer-score-number {
    font-weight: var(--font-semibold);
}
/* gameboard styling for lines */

td[data-cell="1"],
td[data-cell="4"] {
    border-right: 2px solid var(--gameboard-line-color);
    border-bottom: 2px solid var(--gameboard-line-color);
}

td[data-cell="2"],
td[data-cell="5"] {
    border-bottom: 2px solid var(--gameboard-line-color);
}

td[data-cell="3"],
td[data-cell="6"] {
    border-left: 2px solid var(--gameboard-line-color);
    border-bottom: 2px solid var(--gameboard-line-color);
}

td[data-cell="7"] {
    border-right: 2px solid var(--gameboard-line-color);
}

td[data-cell="9"] {
    border-left: 2px solid var(--gameboard-line-color);
}

#gameboard {
    border-collapse: collapse;
    max-width: 800px;
    width: 800px;
    justify-self: center;
}

#gameboard td {
    padding: 50px;
    margin: 0;
    text-align: center;
}

#gameboard td:hover{
    cursor: pointer;
    background-color: var(--green-highlight);
    opacity: 5%;
}

footer {
    display: flex;
    justify-content: center;
}

#restart-btn {
    border: none;
    background-color: var(--green-highlight);
    color: var(--arsenic-gray);
    padding: 15px 50px;
    border-radius: 5px;
}

#restart-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 8px var(--green-highlight);
}